// General Colors
$white-color: #ffffff;
$shark-color: #2a2f33;
$shocking-color: #e280b1;
$fedora-color: #6b6a6b;
$havelockBlue-color: #427ed5;
$tuscany-color: #bd6e29;
$brightTurquoise-color: #29f1f3;
$regentStBlue-color: #a2bfe3;
$tamarillo-color: #940e19;
$confetti-color: #e6ca5c;

// Median Vut Colors
$melanie-color: #e6c3d3;
$americano-color: #89746c;
$lavender-purple-color: #8778b6;
$cascade-color: #97acae;

// Material design color:
$tan-color: #d0a890;
$edward-color: #a0a5a5;
$burntUmber-color: #882236;
$nevada-color: #64686c;
$shocking-color: #db80b3;

//IMG
$bg-hero: url('../assets/img/home1_slide_three_bg_2.jpg');
$confetti-bg: url('../assets/img/bkgd_confetti-compressor.jpg');

// COLLECTIONS
$winter-collection: url('../assets/img/winter_collection_bg.jpg');
$spring-collection: url('../assets/img/spring_collection_bg.jpg');
$autumn-collection: url('../assets/img/autumn_collection_bg.jpg');

// PROMOBOX
$promo-box-1: url('../assets/img/promo_box_1_bg.jpg');
$promo-box-2: url('../assets/img/promo_box_2_bg.jpg');

// Review Costumers 
$testimonial-img: url(../assets/img/testimonials_home_1_bg.jpg)